{% extends "base.html" %}

{% load static %}

{% block body %}
<style>
  #map {
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .overlay {
    background: rgba(0, 120, 0, 0);
    padding: 1px;
    z-index: 0;
    ;
  }

  /* .form-inline {
    display: flex;
    align-items: center;
    position: fixed;
    top: 70px;
    left: 8%;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
    z-index: 2;
    pointer-events: auto;
  }

  .form-inline input,
  .form-inline button {
    margin-right: 10px;
  } */


  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .leaflet-control-opacity {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .leaflet-control-opacity label,
  .leaflet-control-opacity input {
    display: block;
    width: 100%;
  }


  .leaflet-sidebar-pane {
    padding: 15px;
    box-sizing: border-box;
  }

  .leaflet-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #sidebar {
    max-height: 100vh;
    overflow-y: auto;
    ;
  }

  #opacitySlider {
    width: 80%;
  }

  .leaflet-tile {
    z-index: 1;
    /* Varsayılan z-index */
  }

  .leaflet-overlay {
    z-index: 100;
    /* Diğer overlay katmanlar için */
  }

  .georaster-layer {
    z-index: 1000;
    /* TIFF katmanı için en yüksek z-index */
  }
</style>


<!-- Mouse ile marker eklendiğinde çıkan form -->
<!-- Modal -->
<div id="infoModal" class="modal ">
  <div class="modal-content col-4">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <form id="infoForm">
      <div class="modal-body">
        <table>
          <tr>
            <td><label for="lon">E:</label> </td>
            <td><input type="text" id="lon" name="lon"></td>
          </tr>
          <tr>
            <td><label for="lat">N:</label></td>
            <td><input type="text" id="lat" name="lat"></td>
          </tr>
          <tr>
            <td><label for="info">Nokta Bilgisi:</label></td>
            <td><input type="text" id="info" name="info"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-success" value="Kaydet" onclick="saveInfo()">
      </div>
    </form>
  </div>
</div>

<div id="map">
</div>
<div id="sidebar" class="leaflet-sidebar collapsed" style="height: auto;">
  <div class="leaflet-sidebar-tabs">
    <ul role="tablist" class="leaflet-sidebar-ul">
      <li><a href="#home" role="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#opacity" role="tab"><i class="fa fa-adjust"></i></a></li>
      <li><a href="#form" role="tab"><i class="fa fa-map-marker"></i></a></li>
      <li><a href="#islemler" role="tab"><i class="fa  fa-angle-double-right"></i></a></li>
    </ul>
  </div>
  <div class="leaflet-sidebar-content">

    <div class="leaflet-sidebar-pane" id="home">
      <h1 class="leaflet-sidebar-header">Home</h1>
      <p>Welcome to the sidebar.</p>
      <div class="" id="navbarNavDropdown">
        <ul class="navbar-nav >
          <li class=" nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sahis">Başvuru</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/firma">Firma</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/sahis">Başvuru</a></li>
              <li><a class="dropdown-item" href="/firma">Firma</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="leaflet-sidebar-pane" id="opacity">
      <h1 class="leaflet-sidebar-header">Şeffaflık Kontrolü</h1>
      <input type="range" id="opacitySlider" min="0" max="1" step="0.0001" value="1">
    </div>

    <div class="leaflet-sidebar-pane" id="form">
      <h1 class="leaflet-sidebar-header">Form Control</h1><br>
      <form id="coordinate-form" class="  ">
        <label>Tiff <input type="file" id="geotiff-file" class="overlay" name="Geotiff"></label>
        {% csrf_token %}
        <label class="form-control">E:{{form.longitude}}</label>
        <label class="form-control">N: {{form.latitude}}</label>

        <label class="form-control">Bilgi:{{form.info}}</label>
        <!-- #region -->

        <!-- {{ form.as_p }}-->

        <!--#endregion-->
        <button type="submit" class="btn btn-success">Koordinat Kaydet</button>
        <!-- <label>Shape <input type="file" id="shapefile-input" multiple name="Shape" /></label> -->
      </form>
      <div id="layer-list"></div>
    </div>

    <div class="leaflet-sidebar-pane" id="islemler">
      <div class="controls">
        <input type="radio" id="marker" name="drawing" value="marker" class="radioBtn">
        <label for="marker">Marker</label><br>
        <input type="radio" id="polygon" name="drawing" value="polygon" class="radioBtn">
        <label for="polygon">Polygon</label><br>
      </div>

    </div>




  </div>
</div>



<script src="{% static 'js/georaster/localTifAddToMap.js' %}"></script>
<script>

  // Define the ED50 projection
  var ed50 = '+proj=utm +zone=36 +ellps=intl +towgs84=-84.1,-101.8,-129.7,0,0,0.468,1.05 +units=m +no_defs +type=crs';

  // Define the UTM projection for zone 36N (adjust based on your zone)
  var utm36n = '+proj=utm +zone=36 +datum=WGS84 +units=m +no_defs';

  // Define the WGS84 projection
  var wgs84 = '+proj=longlat +datum=WGS84 +no_defs';

  // Kaydedilen konumları haritada göster
  var locations = JSON.parse('{{ locations_json|escapejs }}');

  locations.forEach(function (location) {

    var latitude = location.fields.latitude;
    var longitude = location.fields.longitude;
    var info = location.fields.info;
    var utmCoords = [longitude, latitude];
    var wgs84Coords = proj4(utm36n, wgs84, utmCoords);
    L.marker([wgs84Coords[1], wgs84Coords[0]]).bindTooltip(info).addTo(map)
      .bindPopup("<table ><thead><tr><th>KUYU BİLGİLERİ</th><tr></thead><tbody><tr><td>" + info + "</td></tr><tr><td>" + latitude + "</td></tr><tr><td>" + longitude + "</td></tr></tbody><tfoot><tr><td ><a href='#' id='removeBtn'   >SİL</a></td></tr></tfoot</table>");
  });

</script>
 <!-- KMZ addToMap -->
 <script src="{% static 'js/kmz/kmz_kml.js' %}"></script>
{% endblock %}