<!DOCTYPE html>
<html>
<head>
    <title>Location List</title>
</head>
<body>
    <h2>Saved Locations</h2>
    <table border="1">
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Info</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        {% for location in locations %}
        <tr>
            <td>{{ location.latitude }}</td>
            <td>{{ location.longitude }}</td>
            <td>{{ location.info }}</td>
            <td>{{ location.created_at }}</td>
            
            <td>
                <a href="{% url 'edit_location' location.pk %}">Edit</a>
                <a href="{% url 'delete_location' location.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
