<style>
  .navbar {
      position: relative;
      z-index: 1000; /* Navbar'ın z-index değeri */
  }

  .dropdown-menu {
      position: absolute; /* Menü konumlandırma */
      top: 100%; /* Navbar'ın altına hizalar */
      left: 0;
      z-index: 999; /* Dropdown menüsünün z-index değeri */
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-nav-scroll" style="--bs-scroll-height: 100px;z-index: 99; ">

  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class=" nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sahis">Başvuru</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/firma">Firma</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/georaster">Georaster</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Dropdown link
          </a>
          <ul class="dropdown-menu" style="z-index: 100;">
            <li><a class="dropdown-item" href="/sahis">Başvuru</a></li>
            <li><a class="dropdown-item" href="/firma">Firma</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
    

      {% if user.is_authenticated %}
      <li class="dropdown-item"><a href="{% url 'profile' %}">{{ user.username }}</a></li>

      <li class="dropdown-item">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-warning">Logout</button>
        </form>
      </li>
      {% else %}
      <li class="dropdown-item"><a href="{% url 'login' %}">Login</a></li>
      <li class="dropdown-item"><a href="{% url 'register' %}">Register</a></li>
      {% endif %}

   
  </div>


</nav>